body{

background:#161225;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.card{

width:420px;
padding:30px;
background:#251b44;
border-radius:20px;
text-align:center;

}

h2{

color:#00ff99;

}

p{

word-break:break-all;

}
